* {padding: 0; margin: 0;
    box-sizing: border-box;}

    body {display: flex; align-items: center;justify-content: center;height: 100vh;
        font-family:Arial, Helvetica, sans-serif ;background-color:rgb(4, 163, 163);}


    .login {width: 400px;min-width: 300px;border-radius: 10px;border: top left radius 50px;
        border-bottom-right-radius: 50px;border:solid 1px black; margin: 10px;} 

    .text { text-align:center;font-size: 1.5rem;font-weight: 600; color:black;
        margin-bottom: 25px;}

    .login-form input
       {display: block;
        margin: auto;
        height: 40px;
        width: 75%;
        padding-left: 10px;
        color: black;
        border: 1px solid white;
        border-radius: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: white;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size:1rem;
        outline: none;}

    .login-form input[type="password"] {margin-top: 25px;}

    .login-form button { display: block;margin: auto;margin-top: 25px; 
        margin-bottom: 30px; height: 40px; width: 78%; background: white;
        border-radius: 2px; cursor: pointer;}
